{% load bootstrap4 %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% block styles %}
  {% bootstrap_css %}
  <link rel="stylesheet" href="{% static 'css/main.css' %}">
{% endblock %}

</head>
<body>
   <hr>
       <!-- NAVBAR BEGINS -->
       <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
          <div class="navbar-header">
                <a class="navbar-brand" href="{% url 'home' %}"><img src=
                    "https://images.vexels.com/media/users/3/131675/isolated/preview/30a4a09f3393d32f1a8c368373902c26-owl-head-icon-by-vexels.png" 
                        alt="calligraphy-fonts" border="0" style="height: 30px; margin-top: -5px; display: inline;"><img src="https://fontmeme.com/permalink/180526/5793a5e7d98598b124b8f469a5e61fa4.png" alt="calligraphy-fonts" border="0" style="width: 50px; margin-top: -5px; display: inline;"><img src="https://fontmeme.com/permalink/180526/1acfb13a542e51eb9f2ca45f5bd47a6b.png" alt="calligraphy-fonts" border="0" style="width: 50px; margin-top: -7px; display: inline;"></a>
                        {% if user.is_authenticated %}
                        <div><a href="{% url 'view_user' id=user.id %}"><p>{{ user.username }}</p></a></div>
                        {% endif %}
          </div>
          <ul class="nav navbar-nav">
            <li class=""><a href="{% url 'neighborhoods' %}">Hoods</a></li>
            <li class=""><a href=""></a></li> 
            {% if request.path == "/view/" %}
            <li class=""><a href="{% url 'bussinesses' %}">Add a Neighborhood</a></li>
            {% endif %}                   
            {% if user.is_authenticated %}
            <li class=""><a href="{% url 'logout' %}">Logout</a></li>
            {% endif %}
          </ul>
        </div>
      </nav>
<!-- NAVBAR ENDS -->
    <hr>

   

</body>
</html>